 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.about{
  padding:5px 0 5px 0;
  background:linear-gradient(-45deg, #004db3, #510ecd, #1b98c5, #6a00a3);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav:hover {
  z-index: auto;
}

.navbar-brand {
  font-family: "IBM Plex Mono";
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

nav {
 font-family: "IBM Plex Mono";
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

nav a {
  font-family: "IBM Plex Mono";
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

.navbar-toggler-icon {
  background-image: url('/x-img/toggle-menu.png');
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
}


html {
  box-sizing: border-box;
}


.about-section {
  padding: 50px;
  font-size: 1wh;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.40);
  color: white;
  font-family: "IBM Plex Mono";
}


footer {
  height: 10%;
  background: rgba(0, 0, 0, 0.66);
  color: white;
  left: 0;
  bottom: 0;
  position: fixed;
  padding: 1.5%;
  width: 100%;
  font-size: 1vw;
  text-align: center;
}
