video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

html, body {
  height: 100%;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.4;
}

body {
  margin: 0;
}

.viewport-header {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Syncopate", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}
h1 span {
  color: white;
  display: block;
  font-size: 5vw;
  letter-spacing: 1vw;
}

main {
  background: rgba(0, 0, 0, 0.66);
  color: white;
  position: relative;
  padding: 1rem;
}
main p {
  max-width: 600px;
  margin: 1rem auto;
}

nav:hover{
  background:#eaeaea !important;
  z-index: 1;
}
