@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav:hover {
  z-index: auto;
}

.navbar-brand {
   font-family: "IBM Plex Mono";
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

nav {
 font-family: "IBM Plex Mono";
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

nav a {
  font-family: "IBM Plex Mono";
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}


.navbar-toggler-icon {
  background-image: url('/x-img/toggle-menu.png');
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.navbar-nav sm-icons {
  text-align: right;
}



video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html,
body {
  height: 90%;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.4;
}

.welcome {
  font-family: "IBM Plex Mono";
  position: relative;
  font-size: 10vh;
  height: 100%;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
}


footer {
  height: 10%;
  background: rgba(0, 0, 0, 0.66);
  color: white;
  left: 0;
  bottom: 0;
  position: fixed;
  padding: 1.5%;
  width: 100%;
  font-size: 1vw;
  text-align: center;
}

.navbar-nav sm-icons {
  align-items: right;
}

.nav-right {
  float: right;
}
