@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600&display=swap');

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav:hover {
  z-index: auto;
}

.navbar-brand {
  font-family: sans-serif;
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

nav {
  font-family: sans-serif;
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

nav a {
  font-family: sans-serif;
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

.navbar-toggler-icon {
  background-image: url("https://github.com/mcsmcomsci/mcsmcomsci.github.io/blob/gh-pages/x-img/toggle-navbar.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html,
body {
  height: 100%;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.4;
}

span {
  color: #ccc;
  font-weight: bold
  
}

body {
  margin: 0;
}

.viewport-header {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewport-header h1 {
  font-family: "Syncopate", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}

.viewport-header h1 span {
  color: white;
  display: block;
  font-size: 5vw;
  letter-spacing: 1vw;
}

main {
  background: rgba(0, 0, 0, 0.66);
  color: white;
  position: relative;
  padding: 1rem;
}

main p {
  max-width: 600px;
  margin: 1rem auto;
}

footer {
  background: rgba(0, 0, 0, 0.66);
  color: white;
  position: relative;
  padding: 0.5rem;
}
