@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav:hover {
  z-index: auto;
}

.navbar-brand {
   font-family: "IBM Plex Mono";
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

nav {
 font-family: "IBM Plex Mono";
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

nav a {
  font-family: "IBM Plex Mono";
  font-size: 2vh; /* updated font size */
  color: #ffffff;
}

.navbar-toggler-icon {
  background-image: url("https://github.com/mcsmcomsci/mcsmcomsci.github.io/blob/gh-pages/x-img/toggle-navbar.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html,
body {
  height: 90%;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.4;
}

.welcome {
  font-family: "IBM Plex Mono";
  position: relative;
  font-size: 4vh;
  height: 100%;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
}


footer {
  height: 10%;
  background: rgba(0, 0, 0, 0.66);
  color: white;
  position: relative;
  padding: 0.5rem;
  font-size: 1vw;
  text-align: center;
}
