@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600&display=swap');

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

#clubMeetImage{
  width:100vw;
  text-align:center;
  padding:20px 10px 50px 10px;
}
#about{
  padding:50px 0 50px 0;
  clip-path: polygon(0 0, 100% 50px, 100% 100%, 0% 100%);
  background:#FEC5BB;
}

#index-bg {
  position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
}

nav:hover{
  background:#eaeaea !important;
}


#HomePageBody {
  overflow-y: hidden;
}

.header {
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #4c566a;
}

.header h1 {
    font-family: 'Unbounded', cursive;
    color: #d8dee9;
    text-align: center;

    animation-name: fade-in;
    animation-duration: 2s;
}
