@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600&display=swap');

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

#clubMeetImage{
  width:100vw;
  text-align:center;
  padding:20px 10px 50px 10px;
}
#about{
  padding:50px 0 50px 0;
  clip-path: polygon(0 0, 100% 50px, 100% 100%, 0% 100%);
  background:#FEC5BB;
}
nav:hover{
  background:#eaeaea !important;
}

#HomePageBody {
}

.header {
    padding: 5px 0px 5px 0px;
    margin: -5px -5px 0px -5px;
    background-color: #4c566a;
}

.header h1 {
    font-family: 'Unbounded', cursive;
    color: #d8dee9;
    text-align: center;

    animation-name: fade-in;
    animation-duration: 2s;
}
